body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.server-container {
    width: 80%;
    max-width: 900px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    color: #d9534f;
    text-align: left;
    border-bottom: 2px solid #d9534f;
    padding-bottom: 10px;
}

.server-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.server-item:last-child {
    border-bottom: none;
}

.details p {
    margin: 5px 0;
}

.processor {
    font-size: 18px;
    font-weight: bold;
}

.specs, .network {
    color: #777;
}

.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: #d9534f;
}

.btn-ordenar {
    background-color: #ff5a5f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.order-btn:hover {
    background-color: #e04e4f;
}
/*
.main_content {
    margin-left: 250px;
    padding: 20px;
    box-sizing: border-box;
}*/